<h1>Welcome! Register Below</h1>

  <div class="text-center" style="padding:50px 0">
  <div class="logo">Register</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <form id="login-form" class="text-left" method="post" action="/users">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" id="lg_name" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="text" class="form-control" id="lg_email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Email</label>
            <input type="password" class="form-control" id="lg_password" name="password" placeholder="Password">
          </div>
        </div>
        <input type='submit' class="login-button">
      </div>
      <div class="etc-login-form">
        <p>Thank you for signing up!</p>
      </div>
    </form>
  </div>
  <!-- end:Main Form -->
</div>

